#tourHeader {
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
  color: white;
}

#contactedButton {
  background-color: rgb(0, 35, 75);
  margin-right: 3px;
  margin-left: 80px;
}

#pendingButton {
  background-color: rgb(0, 35, 75);
  margin-right: 3px;
  margin-left: 3px;
}

#confirmedButton {
  background-color: rgb(0, 35, 75);
  margin-right: 3px;
  margin-left: 3px;
}

#contactedButtonSelected {
  background-color: rgb(0, 35, 75);
  margin-right: 3px;
  margin-left: 3px;
}

#pendingButtonSelected {
  background-color: rgb(0, 35, 75);
  margin-right: 3px;
  margin-left: 3px;
}

#confirmedButtonSelected {
  background-color: rgb(0, 35, 75);
  margin-right: 3px;
  margin-left: 3px;
}

#tourDeleteButton {
  margin-right: 3px;
  margin-left: 20px;
}