#tourHeader {
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
  color: white;
}

#tourDeleteButton {
  background-color: rgb(0, 35, 75);
  margin-right: 3px;
  margin-left: 20px;
}

#tourVenuesContainer {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  margin-top: 30px;
}


/* VenueCard */

#cards {
  margin-bottom: 20px;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  width: 800px;
}

#venueCard {
  border: 1px solid rgb(0, 35, 75);
  width: 60%;
}

#cardHeader {
  background-color: #CFE1F6;
  border-color: black;
}


/* the following ids assign the colors used with state change and add margins */

#contactedButton {
  background-color: rgb(0, 35, 75);
  margin-right: 1px;
  margin-left: 80px;
}

#contactedButtonSelected {
  background-color: green;
  margin-right: 1px;
  margin-left: 80px;
}

#pendingButton {
  background-color: rgb(0, 35, 75);
  margin-right: 1px;
  margin-left: 1px;
}

#pendingButtonSelected {
  background-color: green;
  margin-right: 1px;
  margin-left: 1px;
}

#confirmedButton {
  background-color: rgb(0, 35, 75);
  margin-right: 3px;
  margin-left: 1px;
}

#confirmedButtonSelected {
  background-color: green;
  margin-right: 3px;
  margin-left: 1px;
}

/* Filter buttons */

#tourFilterButtons {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 10px; */
}

#contactedFilterButton {
  background-color: rgb(0, 35, 75);
  margin: 0px 5px 10px 5px
}


#pendingFilterButton {
  background-color: rgb(0, 35, 75);
  margin: 0px 5px 10px 5px
}


#confirmedFilterButton {
  background-color: rgb(0, 35, 75);
  margin: 0px 5px 10px 5px
}

#removeTourFilterButton {
  background-color: rgb(0, 35, 75);
  margin: 0px 5px 10px 5px
}