#tourHeader {
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
  color: white;
}

#contactedButton {
  margin-right: 3px;
  margin-left: 3px;
}

#pendingButton {
  margin-right: 3px;
  margin-left: 3px;
}

#confirmedButton {
  margin-right: 3px;
  margin-left: 3px;
}

#contactedButtonSelected {
  margin-right: 3px;
  margin-left: 3px;
}

#pendingButtonSelected {
  margin-right: 3px;
  margin-left: 3px;
}

#confirmedButtonSelected {
  margin-right: 3px;
  margin-left: 3px;
}