#navBar {
  margin-top: 20px;
}

#navItems {
  color: white;
}

.navLink {
  background-color: #4E93BB;
  color: white;
  font-size: 21px;
  margin-right: 20px;
  margin-left: 5px;
}

.navLink:hover {
  color: #CFE1F6;
}

#navTitle {
  margin-left: 70px;
}

#navLogout {
  margin-right: 100px;
}